alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias hgg=" history | grep "
alias psg="ps aux | grep "
alias search="apt-cache search "
alias subl="sublime-text"
alias clipboard="xclip -sel clip"

# end of line
alias -g G='| ag'
alias -g M='| less'
alias -g L='| wc -l'
alias -g ONE="| awk '{ print \$1}'"

# svn utils
alias svnl="svn log $@ | perl -l40pe 's/^-+/\n/'"

# homeshick
alias homeshick="$HOME/.homesick/repos/homeshick/home/.homeshick"

